.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 380px;
  height: 700px;
  border: 1px solid var(--ol-grey-);
  position: relative;
  background-color: var(--bg-grey-);
}